常见的协议RFC文档

TCP:
RFC791:https://tools.ietf.org/html/rfc791

SIP:
RFC2543:https://www.rfc-editor.org/rfc/pdfrfc/rfc2543.txt.pdf
RFC3261:https://www.rfc-editor.org/info/rfc3261
RFC3262:https://www.rfc-editor.org/info/rfc3262
RFC3263:https://www.rfc-editor.org/info/rfc3263
RFC3264:https://www.rfc-editor.org/info/rfc3264
RFC3265:https://www.rfc-editor.org/info/rfc3265
